<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="left-side-contents">
        <div class="left-side-layout">
          <div class="manufacturer-name-layout">
            <span><%= @manufacturer_name %></span>
          </div>
          <div class="show-camera_name-layout">
            <span class="camera-title"><%= @camera.camera_name %></span>
          </div>
          <div class="show-camera-image">
            <% if @camera_image.present? %>
              <%= attachment_image_tag @camera_image, :camera_image, style:"width: 300px; height: 300px" %>
            <% else %>
              <%= image_tag('no_image.png', style:"width: 300px; height: 300px") %>
            <% end %>
          </div>
          <div class="show-camera-data mt-4 mb-4 text-center">
            <div class="impression">
              <i class="fa fa-eye fa-2x"></i>　<%= number_with_delimiter(@page_views) %> PV
            </div>
          </div>
          <% if sign_in_user? %>
            <div class="new-comment">
              <button type="button" class="btn btn-warning btn-lg btn-block mt-3" data-toggle="modal" data-target="#NewCameraComment">
                <i class="fa fa-commenting-o"></i>コメントする</button>
              <%= render partial: 'layouts/camera_comment', locals: { review: @review, camera: @camera }%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="right-side-contents">
        <div class="right-side-layout">
          <table class="table">
            <thead>
              <tr>
                <th>製品仕様</th>
                <th></th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td>機種名</td>
                  <td><%= @camera.camera_name %></td>
                </tr>
                <tr>
                  <td>カメラタイプ</td>
                  <td><%= @camera.camera_type %></td>
                </tr>
                <tr>
                  <td>解像度</td>
                  <td><%= @camera.resolution %></td>
                </tr>
                <tr>
                  <td>音声マイク</td>
                  <td><%= @camera.audio %></td>
                </tr>
                <tr>
                  <td>寸法</td>
                  <td><%= @camera.size %></td>
                </tr>
                <tr>
                  <td>重量</td>
                  <td><%= @camera.weight %></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-3 mx-auto col-sm-9">
      <div class="reviews_layout">
        <% @reviews.each do |review| %>
          <div class="review_layout">
            <div class="review_header_layout">
              <div class="user_image">
                <% if review.user.user_image_id.nil? %>
                  <%= image_tag('no_image.png', style:"width: 100px; height: 100px; border-radius: 50px;") %>
                <% else %>
                  <%= attachment_image_tag current_user, :user_image, style:"width: 100px; height: 100px " %>
                <% end %>
              </div>
              <div class="user_name ">
                <%= review.user.nickname %>
              </div>
              <div class="review_date">
                投稿日: <%= simple_time(review.created_at) %>
              </div>
            </div>
            <div class="rate_display">
              <strong>評価:</strong>
              <% if review.rate == 0 || review.rate.nil? %>
                <div class="rate-none">
                  評価なし
                </div>
              <% else %>
                <% review.rate.to_i.times do |t| %>
                  <div class="rate">
                    <i class="fa fa-star star-color fa-2x" aria-hidden="true" ></i>
                  </div>
                <% end %>
              <% end %>
              <% if current_user.id == review.user_id %>
                <div class="destroy ml-2">
                  <button type="button" data-toggle="modal" data-target="#ReviewDeleteConfirmation_<%= review.id  %>">
                  <i class="fa fa-trash-o fa-2x" aria-hidden="true">
                  </i>
                  </button>
                  <%= render partial: 'layouts/camera_comment_delete_modal', locals: { review: review, camera: @camera } %>
                </div>
              <% end %>
            </div>
            <div class="review-space-layout">
              <% if review.review_image_id.present? %>
                <div class="review-image">
                  <%= attachment_image_tag review, :review_image, style:"width: 150px; height: 150px " %>
                </div>
              <% end %>
              <div class="review-text">
                <%= simple_format(review.review_text)%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
