<div class="modal fade" id="NewCameraComment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="body-title">
          カメラにコメントする
        </div>
        <%= form_for(review, url: camera_reviews_path(camera)) do |f| %>
          <%= f.hidden_field :camera_id, value: camera.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.label 'コメント' %>
          <div id="emsg_name"></div>
          <%= f.text_area :review_text, class:'form-control', cols:"10", style: 'height:300px;' %>
          <label for="file" class="mt-2 fa fa-file-image-o fa-2x finger-selector">
            <%= f.attachment_field :review_image, style: "display:none;", id:"file" %>
          </label>
          <%= f.hidden_field :rate, id:"review_rate" %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'コメントする', class:"btn btn-primary" %>
        <% end %>
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
       </div>
    </div>
  </div>
</div>
