<nav class="navbar navbar-light" style="background-color: black;">
  <%= link_to 'Securio', root_path, class:"navbar-brand site-title", style:"color: white;"%>
    <p class="ml-auto navbar-text actions">

      <% if sign_in_admin? %>
        <a class="navbar-brand " style="color: white;">
          <span>
            <i class="fa fa-certificate"></i>
            <%= '管理者' %></span>
        </a>
      <% elsif sign_in_user? %>
        <p class="pt-1" style="color: white;">
          <i class="fa fa-user fa-2x"></i>
          <%= current_user.nickname %>
        </p>
      <% else %>

        <%= link_to user_sign_up_path do %>
          <button class="btn btn-primary" type="button"><strong>新規登録</strong></button>
        <% end %>

        <%= link_to sign_in_user_path do %>
          <button class="btn btn-success" type="button" style="margin-left: 2px;"><strong>ログイン</strong></button>
        <% end %>

      <% end %>

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          <i class="fa fa-navicon fa-2x menu-icon"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Securioについて</a>
          <%= link_to 'カメラをみる', cameras_path, class:"dropdown-item" %>
          <%= link_to 'ニュースをみる', news_site_information_path, class:"dropdown-item"  %>

          <% if sign_in_user? %>
            <%= link_to '閲覧履歴', user_access_histories_path, class:"dropdown-item" %>
            <a class="dropdown-item" data-toggle="modal" data-target="#UserdeleteConfirmation_<%= current_user.id %>">退会する</a>
            <%= link_to 'ログアウト', sign_out_user_path, class:"dropdown-item", method: :delete %>
          <% end %>
          <% if sign_in_admin? %>
            <%= link_to 'ユーザ一覧', admin_user_index_path, class:"dropdown-item index-group-color"%>
            <%= link_to 'メーカー一覧', admin_manufacturer_index_path, class:"dropdown-item index-group-color" %>
            <%= link_to 'メーカー登録', new_manufacturer_path, class:"dropdown-item registration-group-color" %>
            <%= link_to 'カメラ一覧', admin_camera_index_path, class:"dropdown-item index-group-color" %>
            <%= link_to 'カメラ登録', new_camera_path, class:"dropdown-item registration-group-color" %>
            <%= link_to 'ニュース一覧', admin_news_index_path, class:"dropdown-item index-group-color" %>
            <%= link_to 'ニュース登録', new_news_path, class:"dropdown-item registration-group-color" %>
            <%= link_to 'ログアウト', sign_out_admin_path, class:"dropdown-item", method: :delete %>
          <% end %>
        </div>
      </div>
  </p>
</nav>
<% if sign_in_user? %>
  <%= render partial: 'layouts/user_delete_modal', locals: { user: current_user } %>
<% end %>
